/**
 * button icon style
 */
.kse-editor .kse-icon-source {
	background-position: 0 -630px;
}

.kse-editor .kse-icon-preview {
	background-position: 0 -612px;
}

.kse-editor .kse-icon-save {
	background-position: 0 -54px;
}

.kse-editor .kse-icon-print {
	background-position: 0 -594px;
}

.kse-editor .kse-icon-cut {
	background-position: 0 -252px;
}

.kse-editor .kse-icon-copy {
	background-position: 0 -270px;
}

.kse-editor .kse-icon-paste {
	background-position: 0 -288px;
}

.kse-editor .kse-icon-pastetext {
	background-position: 0 -306px;
}

.kse-editor .kse-icon-pastefromword {
	background-position: 0 -324px;
}

.kse-editor .kse-icon-find {
	background-position: 0 -162px;
}

.kse-editor .kse-icon-replace {
	background-position: 0 -180px;
}

.kse-editor .kse-icon-selectAll {
	background-position: 0 -342px;
}

.kse-editor .kse-icon-removeFormat {
	background-position: 0 -360px;
}

.kse-editor .kse-icon-bold {
	background-position: 0 0;
}

.kse-editor .kse-icon-italic {
	background-position: 0 -18px;
}

.kse-editor .kse-icon-underline {
	background-position: 0 -36px;
}

.kse-editor .kse-icon-strike {
	background-position: 0 -54px;
}

.kse-editor .kse-icon-subscript {
	background-position: 0 -90px;
}

.kse-editor .kse-icon-superscript {
	background-position: 0 -72px;
}

.kse-editor .kse-icon-link {
	background-position: 0 -450px;
}

.kse-editor .kse-icon-unlink {
	background-position: 0 -468px;
}

.kse-editor .kse-icon-smiley {
	background-position: 0 -522px;
}

.kse-editor .kse-icon-specialchar {
	background-position: 0 -540px;
}

.kse-editor .kse-icon-image {
	background-position: 0 -486px;
}

.kse-editor .kse-icon-imageBrowser {
	background-position: 0 -504px;
}

.kse-editor .kse-icon-music {
	background-position: 0 -702px;
}

.kse-editor .kse-icon-flash {
	background-position: 0 -720px;
}

.kse-editor .kse-icon-video {
	background-position: 0 -738px;
}

.kse-editor .kse-icon-widget {
	background-position: 0 -522px;
}

.kse-editor .kse-icon-horizontalrule {
	background-position: 0 -828px;
}

.kse-editor .kse-icon-date {
	background-position: 0 -846px;
}

.kse-editor .kse-icon-textcolor {
	background-position: 0 -414px;
}

.kse-editor .kse-icon-bgcolor {
	background-position: 0 -432px;
}

.kse-editor .kse-icon-undo {
	background-position: 0 -378px;
}

.kse-editor .kse-icon-redo {
	background-position: 0 -396px;
}

.kse-editor .kse-icon-bulletedlist {
	background-position: 0 -216px;
}

.kse-editor .kse-icon-numberedlist {
	background-position: 0 -234px;
}

.kse-editor .kse-icon-indent {
	background-position: 0 -180px;
}

.kse-editor .kse-icon-outdent {
	background-position: 0 -198px;
}

.kse-editor .kse-icon-justifyleft {
	background-position: 0 -108px;
}

.kse-editor .kse-icon-justifycenter {
	background-position: 0 -126px;
}

.kse-editor .kse-icon-justifyright {
	background-position: 0 -144px;
}

.kse-editor .kse-icon-justifyblock {
	background-position: 0 -162px;
}

.kse-editor .kse-icon-maximize {
	background-position: 0 -558px;
}

.kse-editor .kse-icon-restore {
	background-position: 0 -576px;
}

.kse-editor .kse-icon-help {
	background-position: 0 -1026px;
}

.kse-editor .kse-icon-about {
	background-position: 0 -1044px;
}


